<p id="notice"><%= notice %></p>

<h1>Application Forms</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>References</th>
      <th>Graduation year</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_forms.each do |application_form| %>
      <tr>
        <td><%= application_form.address %></td>
        <td><%= application_form.varsity_id %></td>
        <td><%= application_form.graduation_year %></td>
        <td><%= link_to 'Show', student_application_form_path(id: application_form.id) %></td>
        <td><%= link_to 'Edit', edit_student_application_form_path(id: application_form.id) %></td>
        <td><%= link_to 'Destroy', [current_student, application_form], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application Form', new_student_application_form_path %>
